<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Meeting_Organizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="x86"/>
    </assemblyBinding>
</runtime>
    <userSettings>
        <Meeting_Organizer.Properties.Settings>
            <setting name="First_open" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="Splash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Code" serializeAs="String">
                <value />
            </setting>
        </Meeting_Organizer.Properties.Settings>
    </userSettings>
</configuration>